.head {
  display: flex;
  /* background: tomato; */
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
}

.head__leftsection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head__rightsection {
  flex: 1;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head__rightsection div {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.border-right {
  border-right: 1px solid black;
}

.border-gradient {
  /* border-bottom: 10px solid; */
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #3ad575, #ec331a);
}

.ul-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.5rem;
  text-align: center;
}

.ul-nav li {
  padding: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.showcase {
  padding: 0 1rem;
  text-align: center;
}

.showcase div {
  height: 100%;
  padding: 0 1rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase div span {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

.fill {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill img {
  height: 100%;
  width: 100%;
}

.contact {
  background: url("./img/contact.png");
}

.grid {
  flex: 1;
  display: grid;
  grid-template-areas:
    "tl tr "
    "bottom bottom";
  grid-gap: 10px;
  grid-template-columns: 4.5fr 5.5fr;
  grid-template-rows: 8fr 2fr;
  padding: 1rem;
}

.flex-1 {
  flex: 1;
}

.left-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  grid-template-columns: 1fr 3.3fr;
  grid-template-rows: 5.5fr 4.5fr;
  grid-gap: 10px;
}
