@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --nav-height: 70px;
  --safe-bottom: 108px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  * {
    font-size: 12px;
  }
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}

.nav {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.nav img {
  height: calc(var(--nav-height) - (var(--nav-height) * 0.25));
}

.menu {
  position: relative;
}

.nav .menu .menu-item {
  display: none;
  flex-direction: column;
  transform: all 0.4s ease-in-out;
}

.nav .menu:hover .menu-item {
  color: blue;
  display: block;
}

.safe-content {
  height: calc(100% - (var(--nav-height)));
  padding: 2rem;
  padding-bottom: var(--safe-bottom);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  position: absolute;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: tomato;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 60, 25);
}
