.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 2rem 0;
}

h1 span {
  color: red;
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  max-width: 700px;
}

table tr th,
table tr td {
  text-align: left;
}

table tr td {
  padding: 0.5rem 0;
}

table tr td:first-child {
  padding-left: 1.2rem;
}

table tr th {
  padding: 0.8rem 0;
}

table tr td img {
  height: 3rem;
  max-width: 4rem;
}
