:root {
  --font-red: rgb(189, 56, 62);
  --font-purple: rgb(116, 79, 112);
  --font-green: rgb(150, 220, 141);
  --font-blue: rgb(137, 221, 255);
}

.kencosh-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgb(41, 45, 62);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  color: rgb(207, 207, 207);
}

.aj-container {
  align-self: flex-start;
  padding: 2rem 1rem;
}

.aj-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aj-container a:hover img {
  transform: scale(1.1);
}

.aj-container span {
  font-size: 4rem;
}

.aj-container img {
  height: 5rem;
  margin-right: 1rem;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.green {
  color: var(--font-green);
}

.red {
  color: var(--font-red);
}
.purple {
  color: var(--font-purple);
}
.blue {
  color: var(--font-blue);
}

.kencosh-ul {
  padding: 2rem 1rem;
  width: 100%;
}

.kencosh-ul li {
  padding: 1rem 0;
}

.kencosh-ul li img {
  width: 100%;
}
