@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --nav-height: 70px;
  --safe-bottom: 108px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes onLoadPage {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: white;
  animation: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s onLoadPage;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}

.nav {
  display: flex;
  font-family: "Inconsolata", monospace;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .nav {
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  .nav {
    font-size: 12px;
  }
}

.nav img {
  height: calc(var(--nav-height) - (var(--nav-height) * 0.25));
}

.menu {
  position: relative;
}

.nav .menu .menu-item {
  display: none;
  flex-direction: column;
  transform: all 0.4s ease-in-out;
}

.nav .menu:hover .menu-item {
  color: blue;
  display: block;
}

.safe-content {
  height: calc(100% - (var(--nav-height)));
  padding: 2rem;
  padding-bottom: var(--safe-bottom);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  position: absolute;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: tomato;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 60, 25);
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 48px;
  margin: -10px 0px;
  color: white;
}

h3 {
  font-size: 25px;
  color: teal;
}

span {
  color: white;
}

a {
  text-decoration: none !important;
}

.logo-span {
  font-size: 3em;
  padding: 0 5px;
}

.name-warp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 350px;
}

.skills-popup {
  display: none;
  position: absolute;
  top: 40px;
  background: firebrick;
  height: 55px;
  width: 270px;
}

i:hover {
  background: -webkit-linear-gradient(
      225deg,
      rgb(251, 175, 21),
      rgb(251, 21, 242),
      rgb(21, 198, 251)
    )
    0% 0% / 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 2s ease 0s infinite normal none running fontgradient;
  -webkit-animation: fontgradient 2s ease infinite;
  -moz-animation: fontgradient 2s ease infinite;
  animation: fontgradient 2s ease infinite;
}

@-webkit-keyframes fontgradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

@-moz-keyframes fontgradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

@keyframes fontgradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

.name {
  padding: 0 10px;
}

.content-container {
  margin-top: -78px;
  background-image: url("../img/profile.jpg");
  background-repeat: no-repeat;
  background-color: linear-gradient(
    90deg,
    rgba(3, 4, 9, 1) 43%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  overflow: hidden;
  height: 960px;
  padding-top: 300px;
  display: grid;
  grid-template-areas:
    "profile"
    "skills"
    "contact";
}

.container {
  padding-left: 65%;
  min-width: 300px;

  /* border: solid white 5px; */
}

.profile-container {
  grid-area: profile;
  /* border: solid white 5px; */
  /* max-width: 300px; */
}

.name-container {
  max-width: 400px;
}

.skills-container {
  grid-area: skills;
  position: relative;
}

.contact-container {
  grid-area: contact;
}

.nickname {
  font-size: 60px;
  padding: 15px;
  color: tomato;
  text-align: center;
}

.logo-span:hover {
  font-size: 3em;
  color: thistle;
}

@media only screen and (max-width: 768px) {
  .content-container {
    padding-top: 350px;
    grid-template-areas:
      "profile profile"
      "skills contact";
  }

  .container {
    padding-left: 5%;
    /* border: solid white 5px; */
  }

  .profile-container {
    grid-area: profile;
    padding-left: 60%;
  }

  .logo-span {
    font-size: 3em;
    padding: 0;
  }
}

@media only screen and (max-width: 580px) {
  .name-warp {
    justify-content: left;
  }

  .nickname {
    text-align: left;
  }

  .content-container {
    padding-top: 320px;
    grid-template-areas:
      "profile"
      "skills"
      "contact";
  }

  .container {
    padding-left: 8%;
    /* border: solid red 5px; */
    text-align: left;
  }

  .logo-span {
    font-size: 3em;
    padding: 0;
  }

  .contact-container {
    margin-top: -20px;
  }
}
